<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
  <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
  <meta name="author" content="WANZOFC">
  <title> WANZOFC - REST API </title>
  <meta property="og:site_name" name="og:site_name" content="WANZOFC APIs">
  <meta property="og:title" name="og:title" content="WANZOFC - REST APIs">
  <meta property="og:url" name="og:url" content="http://wa.me/62895402567224">
  <meta property="og:image" name="og:image" content="https://img101.pixhost.to/images/341/551053112_wanzofc.jpg">
  <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
  <link rel="apple-touch-icon" href="/images/Ashborns.jpg" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/Ashborns.jpg" />
  <link rel="icon" href="/images/Ashborns.jpg" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/images/Ashborns.jpg" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="canonical" href="/" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/nucleo-icons.css" />
  <link rel="stylesheet" href="/css/alli.min.css" />
  <link rel="stylesheet" href="/css/icone.css" />
  <link rel="stylesheet" href="/css/black-dashboard.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous"/>
</head>

   <body class="sidebar-mini white-content">
    <div class="wrapper">
      <div class="sidebar" data="red">
  <div class="sidebar-wrapper">
    <div class="logo text-center">
      <a href="/" class="simple-text logo-normal" style="font-size: large;">
           WANZOFC APIs
        </a>
     </div>
    <ul class="nav">
      <li>
        <a href="/docs">
          <i class="fal fa-alien-monster"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
      <a href="/pricing">
       <i class="fi-rr-money"></i>
        <p>Pricing</p>
       </a>
      </li>
      <li>
      <a href="/changelog">
       <i class="fi-rr-refresh"></i>
        <p>Changelog</p>
       </a>
      </li>
     <hr>
      <li>
        <a href="/downloader">
          <i class="fa fa-fw fa-download"></i>
          <p>Downloader</p>
        </a>
      </li>
      <li>
        <a href="/searching">
          <i class="fa fa-fw fa-search"></i>
          <p>Searching</p>
        </a>
      </li>
      <li>
        <a href="/randomimage">
          <i class="far fa-images"></i>
          <p>Random Images</p>
        </a>
      </li>
      <li>
        <a href="/animanga">
          <i class="fi-rr-crown"></i>
          <p>AniManga</p>
        </a>
      </li>
      <li>
        <a href="/stalking">
          <i class="fa fa-fw fa-female"></i>
          <p>Stalking</p>
        </a>
      </li>
      <li class="active" >
          <a href="/creator">
            <i class="fi-rr-magic-wand"></i>
            <p>Creator</p>
          </a>
        </li>
      <li>
        <a href="/entertainment">
          <i class="fa fa-fw fa-smile"></i>
          <p>Entertainment</p>
        </a>
      </li>
      <li>
      <a href="/primbon">
          <i class="fa fa-fw fa-user-md"></i>
          <p>Primbon</p>
        </a>
      </li>
      <li>
      <a href="/other">
          <i class="fa fa-fw fa-random"></i>
          <p>Other</p>
        </a>
      </li>
      <li>
      <a href="/admin/listuser">
          <i class="far fa-male"></i>
          <p>List User</p>
        </a>
      </li>
      <li style="margin-bottom: 8rem !important;" >
      <a href="/admin/index">
          <i class="far fa-feather"></i>
          <p>Admin</p>
        </a>
      </li>
    </ul>
  </div>
</div>
 <div class="main-panel">
   <div class="navbar-minimize-fixed" style="opacity: 0;">
      <button class="minimize-sidebar btn btn-link btn-just-icon">
       <i class="tim-icons icon-align-center visible-on-sidebar-regular text-dark"></i>
       <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-dark"></i>
  </button>
</div>
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="top: 0px;">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-minimize d-inline">
          <button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip" data-original-title="Sidebar toggle" data-placement="right" aria-describedby="tooltip723041">
            <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
            <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
          </button>
        </div>
        <div class="navbar-toggle d-inline">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="#">Creator</a>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="navbar-collapse collapse" id="navigation" style>
        <ul class="navbar-nav ml-auto text-dark">
        	<li class="nav-item dropdown no-arrow text-dark">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="tim-icons icon-zoom-split text-dark"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-search p-3 shadow animated--grow-in white-color" aria-labelledby="searchDropdown" style="border: none;">
                    <form class="navbar-search" action="#" method="GET">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" type="submit">
                                    <i class="tim-icons icon-zoom-split text-dark"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control text-dark" name="q" placeholder="Search" autocomplete="off" required>
                        </div>
                    </form>
                </div>
            </li>
            <li class="dropdown nav-item">            	
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <div class="photo">
                        <img src="/images/loli.png" alt="Profile Photo">
                    </div>
                    <b class="caret d-none d-lg-block d-xl-block"></b>
                    <p class="d-lg-none text-dark"><%= username %></p>
                </a>
                <ul class="dropdown-menu dropdown-navbar dropdown-user">
                    <div class="dropdown-user-scroll scrollbar-outer ">
                        <li>
                            <div class="user-box">
                                <div class="avatar-lg"><img src="/images/loli.png" alt="image profile" class="avatar-img rounded"></div>
                                <div class="u-text text-dark">
                                    <h4><%= username %></h4>
                                    <p></p>
                                    <p class="text-dark"><%= email %></p>
                                </div>
                            </div>
                          <li>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-dark" href="/profile"><i class="far fa-address-card text-success"></i>&nbsp;My Profile</a>                              
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-dark" href="/users/logout"><i class="far fa-sign-out text-danger"></i>&nbsp;Logout</a> 
                          </li>
                    </div>
                </ul>                           
            </li>
          <li class="separator d-lg-none"></li>
        </ul>
      </div>
    </div>
   </nav>
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Creator Documentation</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <tr>
                          <th>Feature</th>
                          <th class="text-center">Method</th>
                          <th class="text-center">Parameter</th>
                          <th class="text-center">Status</th>
                          <th class="text-center">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>Circle</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/circle?url=https://telegra.ph/file/10e8e946de9825ede92c1.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Removebg</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/removebg?url=https://telegra.ph/file/7f07902457fd67af88441.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Burn</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/burn?url=https://telegra.ph/file/2afeb29a7a3d099400cce.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Gura</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/gura?name=chika&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>GFX</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/gfx?name=chika&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>GFX 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/gfx2?name=chika&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>GFX 3</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, text, text2</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/gfx3?text=chika&text2=cans&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>GFX 4</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, text, text2</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/gfx4?text=chika&text2=kawai&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>GFX 5</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, text</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/gfx5?text=chika&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>XNXX</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/xnxx?name=loli&url=https://telegra.ph/file/35b14aaadefd84f4a42a3.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>RIP</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/rip?url=https://telegra.ph/file/3191938fac3f380bf54b9.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Gay</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/gay?url=https://telegra.ph/file/3191938fac3f380bf54b9.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Lisa</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, text</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/lisa?text=Here is my Lisa presentation&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Trash</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/trash?url=https://telegra.ph/file/d2aac007792a85e2e9e64.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Blur</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url, level</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/blur?url=https://telegra.ph/file/7ff24b65fa45bee8f1552.jpg&level=10&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Jojo</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/jojo?url=https://telegra.ph/file/aa7681e677e047f26d1ae.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Boonk</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url, url2</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/bonk?url=https://telegra.ph/file/aa7681e677e047f26d1ae.jpg&url2=https://telegra.ph/file/98d9b21aa4bf75f95220e.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Stonk</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/stonk?url=https://telegra.ph/file/1937b4c46dd7a0cb307ea.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Not Stonk</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/notstonk?url=https://telegra.ph/file/1937b4c46dd7a0cb307ea.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Discord</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/discord?url=https://telegra.ph/file/1937b4c46dd7a0cb307ea.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Delete</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/delete?url=https://telegra.ph/file/f954e2fbe453151d249d5.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Komunis</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/komunis?url=https://telegra.ph/file/21c8c3d3f9958eccbe4cd.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Wanted</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/wanted?url=https://telegra.ph/file/940e1fc3995449ba1109f.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Wasted</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/wasted?url=https://telegra.ph/file/b94b3d3bd6709c1f0a427.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Patrick</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/patrick?url=https://telegra.ph/file/b5d0a14eb7195ec6f43d0.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Spongebob</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/spongebob?url=https://telegra.ph/file/b5d0a14eb7195ec6f43d0.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Triggered</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/triggered?url=https://telegra.ph/file/3191938fac3f380bf54b9.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Hornycard</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/hornycard?url=https://telegra.ph/file/9b1f61a1cd8ea20770f02.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Changemymind</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, text</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/changemymind?text=kontol&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Ship</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name, avatar, name2, avatar2, num, status</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/ship?name=Ashborns&name2=kiryuin&avatar=https://telegra.ph/file/98f9c3d76cd4975de9db4.jpg&avatar2=https://telegra.ph/file/b2387dffbc86ad8da9cd0.jpg&num=10&status=sahabat&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Welcome</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name, picurl, bgurl, mem, gcname</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/welcome?name=Ashborns&picurl=https://telegra.ph/file/2800d9e60183fa5cdddec.jpg&bgurl=https://telegra.ph/file/1dfe7720d51f20e4c5f0c.jpg&mem=50&gcname=Wibu&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                       
                       <tr>
                          <td>Welcome 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name, mem, gcname, picurl, bgurl, gcicon</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/welcome2?name=Ashborns&mem=50&gcname=Anime Lovers&picurl=https://telegra.ph/file/2800d9e60183fa5cdddec.jpg&bgurl=https://telegra.ph/file/1dfe7720d51f20e4c5f0c.jpg&gcicon=https://telegra.ph/file/356a8e9f66c1db4a16fc9.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>GoodBye</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name, picurl, bgurl, mem, gcname</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/goodbye?name=Ashborns&picurl=https://telegra.ph/file/2800d9e60183fa5cdddec.jpg&bgurl=https://telegra.ph/file/1dfe7720d51f20e4c5f0c.jpg&mem=50&gcname=Anime Lovers&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>GoodBye 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name, mem, gcname, picurl, bgurl, gcicon</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/goodbye2?name=Ashborns&mem=50&gcname=Anime Lovers&picurl=https://telegra.ph/file/2800d9e60183fa5cdddec.jpg&bgurl=https://telegra.ph/file/1dfe7720d51f20e4c5f0c.jpg&gcicon=https://telegra.ph/file/356a8e9f66c1db4a16fc9.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Rank Card</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name, currentxp, requiredxp, level, picurl, bgurl</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/rankcard?name=Ashborns&currentxp=100&requiredxp=1000&level=1&picurl=https://telegra.ph/file/2800d9e60183fa5cdddec.jpg&bgurl=https://i.ibb.co/4YBNyvP/images-76.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Level UP</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, picurl</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/levelup?picurl=https://telegra.ph/file/10e8e946de9825ede92c1.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Promote</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name, mem, msg, picurl, bgurl</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/promote?name=Ashborns&mem=50&msg=Selamat Menjadi Admin&picurl=https://telegra.ph/file/10e8e946de9825ede92c1.jpg&bgurl=https://telegra.ph/file/1dfe7720d51f20e4c5f0c.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Demote</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, name, mem, msg, picurl, bgurl</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/demote?name=Ashborns&mem=50&msg=Mampus Didemote&picurl=https://telegra.ph/file/10e8e946de9825ede92c1.jpg&bgurl=https://telegra.ph/file/1dfe7720d51f20e4c5f0c.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer fixed-bottom">
          <div class="copyright text-center my-auto">
  <span>
    copyright with <i class="fal fa-heart text-danger"></i> by WANZOFC -
  </span>
  <span>
    <a id="jam"></a>
  </span>
</div>

        </footer>
      </div>
    </div>
    <script
      data-cfasync="false"
      src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <script src="/js/black-dashboard.min.js"></script>
    <script src="/js/script.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js"
      integrity="sha512-OmBbzhZ6lgh87tQFDVBHtwfi6MS9raGmNvUNTjDIBb/cgv707v9OuBVpsN6tVVTLOehRFns+o14Nd0/If0lE/A=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
