<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
  <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
  <meta name="author" content="WANZOFC">
  <title> Wanzofc - REST API </title>
  <meta property="og:site_name" name="og:site_name" content="Wanzofc APIs">
  <meta property="og:title" name="og:title" content="WANZOFC - REST APIs">
  <meta property="og:url" name="og:url" content="http://wa.me/62895402567224">
  <meta property="og:image" name="og:image" content="https://img101.pixhost.to/images/341/551053112_wanzofc.jpg">
  <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
  <link rel="apple-touch-icon" href="/images/Ashborns.jpg" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/Ashborns.jpg" />
  <link rel="icon" href="/images/Ashborns.jpg" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/images/Ashborns.jpg" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="canonical" href="/" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/nucleo-icons.css" />
  <link rel="stylesheet" href="/css/alli.min.css" />
  <link rel="stylesheet" href="/css/icone.css" />
  <link rel="stylesheet" href="/css/black-dashboard.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous"/>
</head>

<body class="sidebar-mini white-content">
    <div class="wrapper">
      <div class="sidebar" data="red">
  <div class="sidebar-wrapper">
    <div class="logo text-center">
      <a href="/" class="simple-text logo-normal" style="font-size: large;">
           WANZOFC - API
        </a>
     </div>
    <ul class="nav">
      <li>
        <a href="/docs">
          <i class="fal fa-alien-monster"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
      <a href="/pricing">
       <i class="fi-rr-money"></i>
        <p>Pricing</p>
       </a>
      </li>
      <li>
      <a href="/changelog">
       <i class="fi-rr-refresh"></i>
        <p>Changelog</p>
       </a>
      </li>
     <hr>
      <li>
        <a href="/downloader">
          <i class="fa fa-fw fa-download"></i>
          <p>Downloader</p>
        </a>
      </li>
      <li>
        <a href="/searching">
          <i class="fa fa-fw fa-search"></i>
          <p>Searching</p>
        </a>
      </li>
      <li>
        <a href="/randomimage">
          <i class="far fa-images"></i>
          <p>Random Images</p>
        </a>
      </li>
      <li>
        <a href="/animanga">
          <i class="fi-rr-crown"></i>
          <p>AniManga</p>
        </a>
      </li>
      <li>
        <a href="/stalking">
          <i class="fa fa-fw fa-female"></i>
          <p>Stalking</p>
        </a>
      </li>
      <li>
          <a href="/creator">
            <i class="fi-rr-magic-wand"></i>
            <p>Creator</p>
          </a>
        </li>
      <li>
        <a href="/entertainment">
          <i class="fa fa-fw fa-smile"></i>
          <p>Entertainment</p>
        </a>
      </li>
      <li>
      <a href="/primbon">
          <i class="fa fa-fw fa-user-md"></i>
          <p>Primbon</p>
        </a>
      </li>
      <li>
      <a href="/other">
          <i class="fa fa-fw fa-random"></i>
          <p>Other</p>
        </a>
      </li>
      <li>
      <a href="/admin/listuser">
          <i class="far fa-male"></i>
          <p>List User</p>
        </a>
      </li>
      <li style="margin-bottom: 8rem !important;" >
      <a href="/admin/index">
          <i class="far fa-feather"></i>
          <p>Admin</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main-panel">
 <div class="navbar-minimize-fixed" style="opacity: 0;">
    <button class="minimize-sidebar btn btn-link btn-just-icon">
    <i class="tim-icons icon-align-center visible-on-sidebar-regular text-dark"></i>
    <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-dark"></i>
  </button>
</div>
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="top: 0px;">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-minimize d-inline">
          <button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip" data-original-title="Sidebar toggle" data-placement="right" aria-describedby="tooltip723041">
            <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
            <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
          </button>
        </div>
        <div class="navbar-toggle d-inline">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="#">Profile</a>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="navbar-collapse collapse" id="navigation" style>
        <ul class="navbar-nav ml-auto text-dark">
        	<li class="nav-item dropdown no-arrow text-dark">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="tim-icons icon-zoom-split text-dark"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-search p-3 shadow animated--grow-in white-color" aria-labelledby="searchDropdown" style="border: none;">
                    <form class="navbar-search" action="#" method="GET">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" type="submit">
                                    <i class="tim-icons icon-zoom-split text-dark"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control text-dark" name="q" placeholder="Search" autocomplete="off" required>
                        </div>
                    </form>
                </div>
            </li>
            <li class="dropdown nav-item">            	
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <div class="photo">
                        <img src="/images/loli.png" alt="Profile Photo">
                    </div>
                    <b class="caret d-none d-lg-block d-xl-block"></b>
                    <p class="d-lg-none text-dark"><%= username %></p>
                </a>
                <ul class="dropdown-menu dropdown-navbar dropdown-user">
                    <div class="dropdown-user-scroll scrollbar-outer ">
                        <li>
                            <div class="user-box">
                                <div class="avatar-lg"><img src="/images/loli.png" alt="image profile" class="avatar-img rounded"></div>
                                <div class="u-text text-dark">
                                    <h4><%= username %></h4>
                                    <p></p>
                                    <p class="text-dark"><%= email %></p>
                                </div>
                            </div>
                          <li>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-dark" href="/profile"><i class="far fa-address-card text-success"></i>&nbsp;My Profile</a>                              
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-dark" href="/users/logout"><i class="far fa-sign-out text-danger"></i>&nbsp;Logout</a> 
                          </li>
                    </div>
                </ul>                           
            </li>
          <li class="separator d-lg-none"></li>
        </ul>
      </div>
    </div>
  </nav>
 
<div class="content">
   <div class="col-md-8">
        <div class="card card-round">
            <div class="card-header">
                <h5 class="title">Profile</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 pr-md-1">
                        <div class="form-group">
                            <label>Username</label>
                            <p><%= username %></p>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-1">
                        <div class="form-group">
                            <label>Email</label>
                            <p><%= email %></p>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-1">
                        <div class="form-group">
                            <label>WhatsApp Number</label>
                            <p><%= nomorWa %></p>
                        </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                        <div class="form-group">
                            <label>Api Key</label>
                            <p><%= apikey %></p>
                        </div>
                    </div>
                 </div>
                <div class="row">
                    <div class="col-md-4 pr-md-1">
                        <div class="form-group">
                            <label>Limit</label>
                            <p><%= limit %></p>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-1">
                        <div class="form-group">
                            <label>Request</label>
                            <p><%= totalreq %></p>
                        </div>
                    </div>
                 </div>
                    
           </div>
       </div>
      <div class="card card-round">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="title">Edit Profile</h5>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                <input type="radio" name="options" checked>
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Profile</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-single-02"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" id="2">
                                <input type="radio" class="d-none" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Api Key</span>
                                <span class="d-block d-sm-none">
                                    <i class="fi-rr-flame"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" id="usernameemail">
                <form method="POST" action="/profile" class="changeprofile">
                    <div class="row">
                        <div class="col-md-12 pr-md-1">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Username" value='<%= username %>' autocomplete="off" required>
                            </div>
                        </div>
                        <input type="text" name="changeprofile" value="usernameemail" style="display: none;">
                        <button type="submit" class="btn btn-fill btn-primary ml-3 inibutton">Save</button>
                    </div>
                </form>
            </div>
           
            <div class="card-body" id="apikey" style="display: none;">
                <form method="POST" action="/premium/custom" class="changeprofile">
                    <div class="row">
                        <div class="col-md-12 pr-md-1">
                            <div class="form-group">
                               <label>Custom Apikey</label>
                               <input type="text" class="form-control" name="customKey" placeholder="Enter New Apikey" autocomplete="off" required>
                            </div>
                        </div>
                        <input type="text" name="changeprofile" value="apikey" style="display: none;">
                        <button type="submit" class="btn btn-fill btn-primary ml-3 inibutton">Custom</button>
                    </div>
                </form>
            </div>
        </div>
       </div>
       
<center>
  
<%- include('layouts/msg')  %> 
<%- include('layouts/errors')  %> 

</center>
       
     <div class="col-md-4">
        <div class="card card-user card-round">
            <div class="card-body">
                <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="/">
                            <img class="avatar" src="/images/loli.png" alt="...">
                            <h5 class="title"><%= username %></h5>
                        </a>
                       <p class="description">
                           <% if(premium !== null) { %>
                                   Premium User
                          <% } else { %>
                                   Free User
                          <% } %>
                        </p>
                        <div class="card-description">
                            La Tahzan, Innallaha Ma`ana
                          </div>
                    </div>
                </p>
                <div class="card-description text-center">
                </div>
              
            <div class="card-footer">
                <div class="button-container">
                  <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook text-white">
                    <a type="button" class="text-danger" href="https://wa.me/+6288286421519" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                  </button>
                  <button href="javascript:void(0)" class="btn btn-icon btn-round btn-telegram">
                    <a type="button" class="text-danger" href="https://t.me/ultimareall" target="_blank">
                        <i class="fab fa-telegram"></i>
                    </a>
                  </button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer fixed-bottom">
        <div class="copyright text-center my-auto">
  <span>
    copyright with <i class="fal fa-heart text-danger"></i> BY WANZOFC-
  </span>
  <span>
    <a id="jam"></a>
  </span>
</div>
        </footer>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https:////cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" charset="utf-8"></script>
    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <script src="/js/black-dashboard.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/swal.js"></script>
   

</body>
</html>